<div class="container-fluid">
    <carousel >
        <slide>
            <img src="images/img2.jpg" alt="1.slide" class="img-responsive">
            <!--<div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>-->
        </slide>
        <slide>
            <img src="images/img7.jpg" alt="2.slide" class="img-responsive">
            <!--<div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>-->
        </slide>
        <slide>
            <img src="images/img3.jpg" alt="3.slide" class="img-responsive">
            <!--<div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>-->
        </slide>
        <slide>
            <img src="images/img8.jpg" alt="4.slide" class="img-responsive">
            <!--<div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>-->
        </slide>
        <slide>
            <img src="images/img16.jpg" alt="5.slide" class="img-responsive">
            <!--<div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>-->
        </slide>
        <slide>
            <img src="images/img6.jpg" alt="6.slide" class="img-responsive">
            <!--<div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>-->
        </slide>
        <slide>
            <img src="images/img15.jpg" alt="7.slide" class="img-responsive">
            <!--<div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>-->
        </slide>
    </carousel>
</div>