<h3>{{name}}</h3>
<div class=row>
  <div class="col-lg-6">
    <form #f="ngForm" (ngSubmit)="addCountry(f.value, f)">

      <div class="row">
        <div class="form-group col-lg-8">
          <label for="Name">Name</label>
          <input class="form-control" name="Name" type="text" ngModel>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-8">
          <label for="Code">Code</label>
          <input class="form-control" name="Code" type="text" ngModel>
        </div>
      </div>

      <button type="submit" class="btn btn-default">Create</button>
    </form>
  </div>
  <div class="col-lg-6">
    <h3>Countries:</h3>
    <div>
      <ul>
        <li *ngFor="let country of countries">
          {{country.Name}}, {{country.Code}} <br/>
        </li>
      </ul>
    </div>
  </div>
</div>