<div *ngFor="let acc of accoms">
<div>
    <h3>{{acc.Name}}</h3>
</div>
<div>
    <p> Rating: {{ acc.AverageGrade }} </p>
    <p> Accommodation type: {{ acc.AccomodationType.Name }} </p>
    <p> Description: {{ acc.Description }} <p>
    <p> Adress: {{acc.Place.Name}},{{acc.Address}}</p>
</div>
<div>
    <p> Comments: </p>
    <ul>
        <li *ngFor="let comm of acc.Comments">
            <p>{{comm.Grade}}</p>
            <p>{{comm.Text}}</p>
        </li>
    </ul>
</div>
</div>

<!-- Dodati prikaz komentara -->