<div class="row">

    <form class="form-user">

        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#first" data-toggle="tab">Add</a></li>
            <li><a href="#second" data-toggle="tab">Edit</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">

            <!--prvi tab-->
            <div class="tab-pane active in row" id="first">

                <!--prva kolona-->
                <div class="col-md-6" id="tab">
                    <h3>Add new accomodation:</h3>

                    <!--<form #f="ngForm" (ngSubmit)="addAccomodation(f.value, f)" enctype="multipart/form-data">-->
                    <form class="form-horizontal" #f="ngForm" (ngSubmit)="addAccomodation(f.value, f)">

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="Name">Name:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <input class="form-control" name="Name" type="text" ngModel>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="Description">Description:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <input class="form-control" name="Description" type="text" ngModel/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="Address">Address:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <input class="form-control" name="Address" type="text" ngModel/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="AverageGrade">Average Grade:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <input class="form-control" name="AverageGrade" type="text" ngModel/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="Latitude">Latitude:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <input class="form-control" name="Latitude" type="text" ngModel/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="Longitude">Longitude:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <input class="form-control" name="Longitude" type="text" ngModel/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="Place">Place:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <select class="form-control" name="placeId" id="placeId" [(ngModel)]="placeId"><option *ngFor="let p of Places" value={{p.Id}}>{{p.Name}}</option>
                             </select> </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="AccomodationTypeId">Accomodation<br/>Type:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <select class="form-control" name="accTypeId" id="accTypeId" [(ngModel)]="accTypeId">
                        <option *ngFor="let accomodationType of AccomodationTypes" value={{accomodationType.Id}}>{{accomodationType.Name}}</option>
                             </select> </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <input class="form-control" name="ImageUrl" type="file" value="Choose image" id="accImage" ngModel/>
                                <!--<input class="form-control" name="ImageUrl" type="file" value="Choose image" id="accImage" (change)="onChange($event)" ngModel/>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<div class="col-sm-3 col-sm-offset-4">-->
                            <button type="submit" class="btn btn-default btn-lg">Create</button>
                            <!--</div>-->
                        </div>
                        <!-- Valjda ownerId treba da se smesti na osnovu korisnika koji unosi ove podatke -->
                    </form>

                </div>
                
                 <!--<button routerLink="dashboard/accommDetail" class="btn btn-primary">Back</button>-->

                <!--druga kolona-->
                <div class="col-md-6">
                    <h3>List of all ccomodations:</h3>
                    <div>
                        <ul>
                            <li *ngFor="let accomodation of accomodations">
                                <div>
                                  {{accomodation.Name}}  <button [routerLink]="['accomDetails',accomodation.Id]" class="btn btn-link btn-sm">details </button>                                            
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <!--drugi tab -->
            <div class="tab-pane fade form-user" id="second">

                <!--prva kolona-->
                <div class=col-md-6>
                    <h3>Edit accomodation:</h3>

                    <form class="form-horizontal" #f3="ngForm" (ngSubmit)="editAccomodation(f3.value, f3)">

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="Name">Name: </label>
                            <div class="col-sm-4 col-sm-offset-1">

                                <input class="form-control" name="Name" type="text" [(ngModel)]="Name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="Description">Description:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <input class="form-control" name="Description" type="text" [(ngModel)]="Description" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="Address">Address:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <input class="form-control" name="Address" type="text" [(ngModel)]="Address" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="AverageGrade">AverageGrade:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <input class="form-control" name="AverageGrade" type="text" [(ngModel)]="AverageGrade" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="Latitude">Latitude:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <input class="form-control" name="Latitude" type="text" [(ngModel)]="Latitude" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="Longitude">Longitude:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <input class="form-control" name="Longitude" type="text" [(ngModel)]="Longitude" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="place">Place:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <select class="form-control" name="PlaceIdEdit" id="PlaceIdEdit" [(ngModel)]="PlaceIdEdit">
                                 <option *ngFor="let p of Places" value={{p.Id}}>{{p.Name}}</option>
                                 </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="accomodationTypeIdEdit">Accomodation<br/>Type:</label>
                            <div class="col-sm-4 col-sm-offset-1">
                                <select class="form-control" name="AccomodationTypeIdEdit" id="AccomodationTypeIdEdit" [(ngModel)]="AccomodationTypeIdEdit">
                             <option *ngFor="let accomodationType of AccomodationTypes" value={{accomodationType.Id}}>{{accomodationType.Name}}</option>
                                 </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">

                                <input class="form-control" name="ImageUrl" type="file" value="Choose image" id="accImage" (change)="onChange($event)" ngModel/>
                                <!--<input class="form-control" name="ImageUrl" type="file" value="Choose image" id="accImage" (change)="onChange($event)" ngModel/>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<div class="col-sm-3 col-sm-offset-4">-->
                            <button type="submit" class="btn btn-default btn-lg">Save</button>
                            <!--</div>-->
                        </div>

                    </form>

                </div>

                <!--druga kolona-->
                <div class=col-md-6>
                    <h3>Choose accomodation for edit:</h3>
                    <div>
                        <ul>
                            <li *ngFor="let acc of accomByOwner">
                                <button class="btn btn-link" (click)="onEditAccomodation(acc)">{{acc.Name}}</button>
                                <button class="btn btn-link" (click)="onDeleteAccomodation(acc)">Delete</button>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>

    </form>
</div>
<script>
    // ovo bi trebalo da radi, izdebagovati kasnije....

    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    // store the currently selected tab in the hash value
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
    });

    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash;
    $('#myTab a[href="' + hash + '"]').tab('show');


    // ili ovo probati
    // $(document).ready(function () {
    //     if (location.hash) {
    //         $("a[href='" + location.hash + "']").tab("show");
    //     }
    //     $(document.body).on("click", "a[data-toggle]", function (event) {
    //         location.hash = this.getAttribute("href");
    //     });
    // });
    // $(window).on("popstate", function () {
    //     var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
    //     $("a[href='" + anchor + "']").tab("show");
    // });

</script>