<h3>{{name}}</h3>

<div class="container-fluid">
  
</div>

<form #f="ngForm"(ngSubmit)="addAccomodationType(f.value, f)">
  
    <div class="row">
    <div class="form-group col-lg-2">
      <label for="Name">Name</label>
      <input class="form-control" name="Name" type="text" ngModel>
    </div>
  </div>

    <button type="submit" class="btn btn-default">Create</button>

</form>

<h3>AccomodationTypes:</h3>
<div>
  <ul>
    <li *ngFor="let accomodationType of accomodationTypes">
      
      <!--{{accomodationType.Id}} <br/>
       {{accomodationType.Name}} <br/>-->
        {{accomodationType.Name}}
      </li>
  </ul>
</div>