<h3>{{name}}</h3>
<form #f="ngForm"(ngSubmit)="addRoomReservation(f.value, f)">   
    <div>
        <label for="StartDate">StartDate: </label>
        <input name="StartDate" type="date" ngModel/>
    </div>

    <div>
        <label for="EndDate">EndDate: </label>
        <input name="EndDate" type="date" ngModel/>
    </div>
    <!-- Timestamp treba sam automatski da se popuni tenutnim datumom(valjda) -->
    <!-- AppUserId treba da se popuni na osnovu id korisnika koji rezervise smestaj -->
    <div>
    <label>Country:</label>
    <select name="countryId" id="countryId" [(ngModel)]="countryId" (change)="countrySelected()">
      <option *ngFor = "let c of countries" value={{c.Id}} >{{c.Name}}</option>
    </select>
    </div>

    <div>
    <label>Region:</label>
    <select name="regionId" id="regionId" [(ngModel)]="regionId" (change)="regionSelected()">
      <option *ngFor = "let r of regions" value={{r.Id}} >{{r.Name}}</option>
    </select>
    </div>

    <div>
    <label>Place:</label>
    <select name="placeId" id="placeId" [(ngModel)]="placeId" (change)="placeSelected()">
      <option *ngFor = "let p of places" value={{p.Id}} >{{p.Name}}</option>
    </select>
    </div>

    <div>
    <label>Accomodation:</label>
    <select name="accId" id="accId" [(ngModel)]="accId" (change)="accomSelected()">
      <option *ngFor = "let a of accomodations" value={{a.Id}} >{{a.Name}}</option>
    </select>
    </div>

    <div>
        <label for="Room">Room:</label>
        <select name="roomId" id="roomId" [(ngModel)]="roomId">
        <option *ngFor="let r of rooms" value={{r.Id}}>{{r.RoomNumber}}</option>
        </select>
    </div>

    <div>
        <input type="submit" value="Create"/>
    </div>

    <div #dataContainer [innerHTML]="theHtmlString">
        <!--<label Name="Warning"></label>-->
    </div>
</form>

<h3>RoomReservations:</h3>
<div>
  <ul>
    <li *ngFor="let roomRes of roomReservations">      
        {{roomRes.Id}} <br/>
        {{roomRes.StartDate}} <br/>
        {{roomRes.EndDate}} <br/>
        {{roomRes.RoomId}}<br/>
        {{roomRes.AppUser.FullName}}<br/><br/>
     </li>
  </ul>
</div>

<!-- Edit -->
<h3>Room reservations for editing:</h3>
    <div>
        <label for="Accomodation">Accomodation:</label>
        <select name="accIdEdit" id="accIdEdit" [(ngModel)]="accIdEdit" (change)="accForEditSelected()">
        <option *ngFor="let acc of accomodationsByUserId" value={{acc.Id}}>{{acc.Name}}</option>
        </select>
    </div>

    <div>
        <label>Room reservation:</label>
        <select name="roomReservationId" id="roomReservationId" [(ngModel)]="roomReservationId" (change)="roomReservationSelected()">
         <option *ngFor="let roomRes of roomResByUserId" value={{roomRes.Id}}>{{roomRes.StartDate}}</option>
        </select>
    </div>

    <h3>Edit room reservation:</h3>

    <form #f2="ngForm"(ngSubmit)="editReservation(f2.value, f2)">   
        <div>
            <label for="StartDate">StartDate: </label>
            <input name="StartDate" type="date" [(ngModel)]="StartDate"/>
        </div>
        <div>
            <label for="EndDate">EndDate: </label>
            <input name="EndDate" type="date" [(ngModel)]="EndDate"/>
        </div>

        <div>
            <input type="submit" value="Create"/>
        </div>

        <div #dataContainer2 [innerHTML]="theHtmlString">
        </div>

    </form>

    <!-- Delete -->
    <h3>Delete room reservation:</h3>
    <div>
        <label for="Accomodation">Accomodation:</label>
        <select name="accIdDelete" id="accIdDelete" [(ngModel)]="accIdDelete" (change)="accForDeleteSelected()">
        <option *ngFor="let acc of accomodationsByUserId" value={{acc.Id}}>{{acc.Name}}</option>
        </select>
    </div>

    <div>
        <label>Room reservation:</label>
        <select name="roomReservationDeleteId" id="roomReservationDeleteId" [(ngModel)]="roomReservationDeleteId" (change)="roomResSelectedDelete()">
         <option *ngFor="let roomRes of deleteRoomResByUserId" value={{roomRes.Id}}>{{roomRes.StartDate}}</option>
        </select>
    </div>

    <div>
        <button (click)="deleteRoomReservation()">Delete</button>
    </div>

