<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-inverse bg-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="">{{title}}</a>
            </div>
            <ul class="nav navbar-nav">
                <!-- Ovo treba da ostane zakomentarisano da vidimo kasnije sta mozemo da iskoristimo 
                napraviti search box da bude dostupan svakome, pa onda kad pozeli nesto da rezrvise mora imati nalog-->
                <!--<li *ngIf="Admin==getRole()" class="active"><a routerLink="/countries">Countries</a></li>-->
                <!--<li>{{getRole()}}</li>-->
              
                <!--<li *ngIf="getRole()=='Admin' || getRole()=='Manager'" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" routerLink="/dashboard">Dashboard<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/accomodations">Accomodations</a></li>
                        <li><a routerLink="/regions">Regions</a></li>
                    </ul>
                </li>-->
               
                <li *ngIf="getRole()=='Admin' || getRole()=='Manager'"><a routerLink="/dashboard"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Dashboard</a></li>
                
                <!--dakle, ako je ulogovan, moze da vidi svoje rezervaicje i upravlja njima-->
                <li *ngIf="isLoggedIn()"><a routerLink="/myReservations"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">My Reservations</a></li>

                <!--<li><a routerLink="/bookingApp/country" (click)="goTo('content')"> country</a></li>
                <li><a routerLink="/bookingApp/region">Region</a></li>
                <li><a routerLink="/bookingApp/place">Place</a></li>-->
                <!--<li *ngIf="getRole()=='Admin'"><a routerLink="/bookingApp/appUser">AppUsers</a></li>
                <li><a routerLink="/bookingApp/accomodationType">AccomodationType</a></li>
                <li><a routerLink="/bookingApp/accomodation">Accomodations</a></li>-->
                <!--<form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!isLoggedIn()"><a routerLink="/login" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><span class="glyphicon glyphicon-log-in"></span> LogIn</a></li>
                <li *ngIf="!isLoggedIn()"><a routerLink="/register" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

                <li *ngIf="isLoggedIn()" (click)="logout()"><a><span  class="glyphicon glyphicon-log-out"></span>LogOut</a></li>
                <li *ngIf="isLoggedIn()"><a routerLink="/userDetails" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><span class="glyphicon glyphicon-user"></span>{{username}}</a>
                    <ul class="dropdown-menu">
                        <!--<li><a routerLink="/accomodations">Accomodations</a></li>
                        <li><a routerLink="/regions">Regions</a></li>-->
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <router-outlet></router-outlet>

    <hr>
    <footer>
        <p> &copy; Klasnic, Vujakovic</p>
    </footer>
</body>

</html>