<div id="wrapper">

  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">

      <!--treba zastiti ovu rutu '/dashboard'-->

      <!--ideja je, da samo admin radi CUD za ove tri klase, a ostali rade R kroz kreiranje (manager), odnosno pretragu smestaja..
      admin moze i da odobri smestaj koji je neki menadzer kreirao-->
      <li *ngIf="getRole()=='Admin'"><a routerLink="/dashboard/country" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Country</a></li>
      <li *ngIf="getRole()=='Admin'"><a routerLink="/dashboard/region" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Region</a></li>
      <li *ngIf="getRole()=='Admin'"><a routerLink="/dashboard/place" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Place</a></li>

      <!--manager kreira tipove smestaja, smestaj, sobe, i admin to odobrava-->
      <hr *ngIf="getRole()=='Admin'" class="half-rule" />
      <li *ngIf="getRole()=='Manager'"><a routerLink="/dashboard/accomtype" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Accomodation Type</a></li>

      <!--funkcionalnosti admina i managera se ovde razlikuju-->
      <li *ngIf="getRole()=='Admin' || getRole()=='Manager'"><a routerLink="/dashboard/accom" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Accomodation</a></li>

      <li *ngIf="getRole()=='Manager'"><a routerLink="/dashboard/room" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Room</a></li>

      <!--komentari takodje treba da budu dostupni svima, kad se izlistaju acomodation, treba da se klikne na details na primer, i onda
       se vide svi komentari za taj smestaj. 
       edit i delete da radi onaj koji je napravio, bilo koji user(i admin i mnager takodje) to rade kroz MyReservations, 
        a ovde u dashboardu Manager da moze sve komentare da brise? Manager zato sto on kreira sobe i smestaje, pa ima smisla ako obrise sobu, da obrise i komentare ?-->
      <li *ngIf="getRole()=='Manager' "><a routerLink="/dashboard/comments" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Comments</a></li>

      <li *ngIf="getRole()=='Manager'"><a routerLink="/dashboard/manageReservations" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Room Reservations</a></li>
    </ul>
  </div>


  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>{{title}}</h1>
          <div class="jumbotron">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>