<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <!--<li class="sidebar-brand active">
        <a href="#">Manage</a>
      </li>-->
      <li><a routerLink="/dashboard/country" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Country</a></li>
      <li><a routerLink="/dashboard/region" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Region</a></li>
      <li><a routerLink="/dashboard/place" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Place</a></li>

      <!--ja sam ovde svuda napisala admin, jer sam navikla da se logujem sa adminom,
      ali ovde zapravo treba da bude samo manger
      i treba zastiti ovu rutu '/dashboard'-->
      <!--<li *ngIf="getRole()=='Admin' || getRole()=='Manager'" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">proba<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/accomodations">Accomodations</a></li>
          <li><a routerLink="/regions">Regions</a></li>
        </ul>
      </li>-->

      <hr *ngIf="getRole()=='Admin'" class="half-rule" />
      <li *ngIf="getRole()=='Admin' || getRole()=='Manager'"><a routerLink="/dashboard/accomtype" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Accomodation Type</a></li>
      <li *ngIf="getRole()=='Admin' || getRole()=='Manager'"><a routerLink="/dashboard/accom" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Accomodation</a></li>
      <li *ngIf="getRole()=='Admin' || getRole()=='Manager'"><a routerLink="/dashboard/room" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Room</a></li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>{{title}}</h1>
          <div class="jumbotron">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>