<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-sm-5">

            <div class="well sidebar-nav">
                <h2>Find accomodation</h2>
                <app-filter-form></app-filter-form>
            </div>
           
            <div class="row-fluid">
                <div class="jumbotron well">
                    <app-carousel></app-carousel>
                </div>

            </div>
        </div>
       
        <div class="col-sm-7">

            <div class="row-fluid">
                <map></map>
            </div>
        </div>
  
    </div>

    <div class=row-fluid id="content">
        <router-outlet></router-outlet>
    </div>
</div>