<div class="row">

    <!--add new comment-->
    <div class="col-md-6">
        <h3>Add new comment</h3>
        <form class="form-horizontal" #f="ngForm" (ngSubmit)="addComment(f.value, f)">

            <div class="form-group">
                <label class="control-label col-sm-1" for="Grade">Grade: </label>
                <div class="col-sm-4 col-sm-offset-1">
                    <input class="form-control" name="Grade" type="text" ngModel/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-1" for="Text">Text: </label>
                <div class="col-sm-4 col-sm-offset-1">
                    <input class="form-control" name="Text" type="text" ngModel/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-1" for="Accomodation">Accomodation:</label>
                <div class="col-sm-4 col-sm-offset-1">
                    <select class="form-control" name="accomodationId" id="accomodationId" [(ngModel)]="accomodationId">
        <option *ngFor="let acc of accomodations" value={{acc.Id}}>{{acc.Name}}</option>
        </select>
                </div>
            </div>

            <div class="form-group">
                <!--<div class="col-sm-3 col-sm-offset-4">-->
                <!--<input type="submit" [disabled]="isValid()" value="Create" />-->
                <button [disabled]="isValid()" type="submit" class="btn btn-default">Create</button>
                <!--</div>-->
            </div>
        </form>

        <div #dataContainer [innerHTML]="theHtmlString">
        </div>

    </div>

    <!--edit comment-->
    <div class="col-md-6">

        <h3>Edit comments:</h3>
        <form class="form-horizontal" #f2="ngForm" (ngSubmit)="editComment(f2.value, f2)">

            <div class="form-group">
                <label class="control-label col-sm-1" for="Grade">Grade: </label>
                <div class="col-sm-4 col-sm-offset-1">
                    <input name="Grade" type="text" [(ngModel)]="Grade" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-1" for="Text">Text: </label>
                <div class="col-sm-4 col-sm-offset-1">
                    <input name="Text" type="text" [(ngModel)]="Text" />
                </div>
            </div>

            <div class="form-group">
                <!--<div class="col-sm-3 col-sm-offset-4">-->
                <button type="submit" class="btn btn-default">Update</button>
                <!--</div>-->
            </div>

        </form>


        <!--ovo treba srediti izgled, nisam testirala kuci pa nisam bila sigurna sta 
        da dodajem menjam-->
        <h3>Comments for editing:</h3>
        <div>
            <ul>
                <li *ngFor="let comm of commentsByOwner">
                    <!--<span>{{acc.Name}}</span><br/>-->
                    <span>{{comm.Id}}</span><br/>{{comm.Accomodation.Name}}
                    <button (click)="onEditComment(comm)">Edit</button>
                    <button (click)="onDeleteComment(comm)">Delete</button>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="row">

    <!--comments list-->
    <!--ni ovo nisam testirala, na slepo sam kucala kako izgleda-->
    <div class="col-md-6">

        <h3>Comments:</h3>
        <div>
            <ul>
                <li *ngFor="let comment of comments">
                    Grade:&nbsp;{{comment.Grade}},&nbsp; Accommodation:&nbsp;{{comment.Accomodation.Name}}
                    <br/> {{comment.Text}}
                    <br/>
                </li>
            </ul>
        </div>
    </div>

    <!--nista...-->
    <div class="col-md-6">
    </div>

</div>